@let user = userSignal(); @let albums = albumsSignal();
<h1 class="text-center">User</h1>

<section class="p-4">
  @if (!user) {
  <p>User not found</p>
  } @else {
  <p-card
    [header]="user.id + '. ' + user.name"
    [subheader]="user.email"
    [style]="{ width: '360px' }"
  >
    <p>website: {{ user.website }}</p>
  </p-card>
  <h3 class="mt-5 mb-0">Albuns:</h3>
  <section
    class="flex flex-wrap justify-content-center align-items-center gap-3 p-4"
  >
    @for (album of albums; track album.id) {
    <p-card [header]="album.id + '.'" [style]="{ width: '250px' }">
      <p>{{ album?.title?.slice(0, 15) }}</p>
      <ng-template pTemplate="footer">
        <p-button
          label="View"
          class="w-full"
          styleClass="w-full"
          (click)="redirectDetails(album.id)"
          (keydown)="redirectDetails(album.id)"
        />
      </ng-template>
    </p-card>
    } @empty {
    <p>Sem albums</p>
    }
  </section>
  }
</section>

<router-outlet></router-outlet>
