@let user = userSignal(); @let albums = albumsSignal();
<h1 class="text-center">User</h1>

<section class="text-center p-4">
  @if (!user) {
  <p>User not found</p>
  } @else {
  {{ user | json }}
  <p-card [header]="user.id + '. ' + user.name" [subheader]="user.email">
  </p-card>
  <section class="flex flex-wrap justify-content-center p-4">
    @for (album of albums; track album.id) {
    <ul>
      <li>
        <button (click)="redirectDetails(album.id)">
          {{ album.id }}
        </button>
        <p>{{ album.title }}</p>
      </li>
    </ul>
    } @empty {
    <p>Sem albums</p>
    }
  </section>
  }
</section>

<router-outlet></router-outlet>
