<h1 class="text-center">Usuários</h1>
<section class="flex flex-wrap justify-content-center gap-3">
  @for (user of users(); track user.id) {
  <p-card
    [header]="user.id + '. ' + user.name"
    [subheader]="user.email"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="footer">
      <p-button
        label="View"
        class="w-full"
        styleClass="w-full"
        (click)="redirectDetails(user.id)"
        (keydown)="redirectDetails(user.id)"
      />
    </ng-template>
  </p-card>
  }
</section>
