@let album = albumSignal();
<section class="p-4">
  <h3>Album:</h3>
  <p>{{ album.id }}. {{ album.title }}</p>
</section>
<section
  class="flex flex-wrap justify-content-center align-items-center gap-3 p-4"
>
  @for (photo of photos(); track photo.id) {
  <p-card
    [header]="photo?.title?.slice(0, 15)"
    [subheader]="album?.title?.slice(0, 15)"
    [style]="{ width: '300px' }"
  >
    <ng-template pTemplate="header">
      <img alt="Card" [src]="photo.thumbnailUrl" />
    </ng-template>
  </p-card>
  } @empty {
  <p>Not photos</p>
  }
</section>
